.row {   

    background-image: url("https://whatnerdslike.files.wordpress.com/2012/04/32.jpg");
    color:black;
    font-size:20px;
    display:flex;
    justify-content: space-around;
    font-family: 'SturkopfGroteskMedium'; 
    font-weight: normal; 
    font-style: normal; 
    margin-top:5px;
    margin-bottom:5px;
    padding: 2px;
}
.headshot{
    width:20%;
    border-color: black;
    border-radius: 50%;
    
    
   
}
.mid{
    background-color:black;
    color:white;
    align-items:center;
    font-size:16px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    justify-content: space-around;
    font-family: 'SturkopfGroteskMedium'; 
    font-weight: normal; 
    font-style: normal;
    letter-spacing: 5px;
    padding: 40px;

    
}
.g{
    background-color:white;
    padding: 5px;
    border-radius:100%;
    }

.aboutme{
      background-image: url("https://cosmos-images1.imgix.net/file/spina/photo/13650/180119_el_gordo_1.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=835");
    font-family: 'SturkopfGroteskMedium'; 
    font-weight: normal; 
    font-style: normal;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    padding: 300px;
    border: 5px solid black;
    margin: 1px;
}
.anime {
    max-width: 35vw;
    max-height: 35vh;
    cursor: pointer;
    
    }
.hello {
    background-color:pink;
}
#images {
    background-color: #D8D7D4;
    margin-top: 1px;
    }
#gal {
    text-align: center;
    margin: 5px;
    font-family: 'SturkopfGroteskMedium';
    font-weight: normal; 
    font-style: normal;
    font-size: 30px;
    letter-spacing: 7px;
}
.me {
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'SturkopfGroteskMedium';
    font-size:60px;
}
.info {
    background-color: #d4d6b6;
    
}
.yo {
    font-family: 'SturkopfGroteskMedium';
    display:flex;
    justify-content:space-around;
    text-align: center;
    padding: 60px;
    margin: 1px;
}
.boy {
    font-family: 'SturkopfGroteskMedium';
    font-size: 34px;
    color:white;
    text-align: center;
    letter-spacing: 2px;
}
.yo2 {
    font-family: 'SturkopfGroteskMedium';
    display:flex;
    justify-content:space-around;
    text-align: center;
    padding: 60px;
    margin: 1px;
}
.stuff {
    font-family: 'SturkopfGroteskMedium';
    text-align: center;
    font-size: 70px;
}
.girl {
    background-color: #0b083d;
}
#otherstuff {
    padding: 200px;
    margin: 1px;
    background-image: url("https://cosmos-images1.imgix.net/file/spina/photo/13650/180119_el_gordo_1.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=835");
    }
    
